@(signupForm: Form[User]) 

@import helper._
@import helper.twitterBootstrap._

@main("signup") {
   @helper.form(action = routes.Forms.signupSubmit) {           
            @inputText(
                signupForm("username"), 
                '_label -> "Username", 
                '_help -> "Please choose a valid username.",
                '_error -> "error on username"
            )

            @inputText(
                signupForm("email"), '_label -> "Email",
                '_help -> "Enter a valid email address."
            )
            
            @inputPassword(
                signupForm("password"), 
                '_label -> "Password",
                '_help -> "A password must be at least 6 characters. "
            )

        <div class="actions">
            <input type="submit" class="btn primary" value="Login">
            <a href="@routes.Application.index" class="btn">Cancel</a>
        </div>
    }
}