@(user: User, tasks: List[Task])

@user.name

<br>

@user.toString

<br>

@{
  val name = "fddssf"
  val bla = "bla"
  val foo = "foo"
  name + foo.toUpperCase + bla
}

<br>

@Messages("bla", "foo", "bar")
<br>
@i("bla", "foo", "bar")

<br>

<ul>
@tasks.map { task =>
    <li>@views.html.tasks.item( task )</li>
}
</ul>

<ul>
    @for(task <- tasks) {
        <li>@views.html.tasks.item( task )</li>
    }
</ul>

<br >
<ol>
    <li>@if(true) { @user.name } else { "inherited" }</li>
    <li>@if(true) { user.name } else { "inherited" }</li>
    <li>@{if(true) { user.name } else { "inherited" }}</li>
    <li>@(if(true) { user.name } else { "inherited" })</li>
</ol>
